{% for product in products %}
<div class="col-lg-3 col-md-6 mb-4 pb-2">
    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
            <h4 class="font-weight-bold text-white mb-0">${{product.price}}</h4>
        </div>
        <div class="position-relative rounded-circle mt-n3 mb-4 p-2" style="width: 150px; height: 150px;">
            <img class="rounded-circle w-100 h-100" src="{{product.img.url}}" style="object-fit: cover;">
        </div>
        <h5 class="font-weight-bold mb-4">{{product.name}}</h5>
        <form action="{% url 'add_to_cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-secondary">Add To Cart</button>
        </form>
    </div>
</div>
{% endfor %}